<section class='staff'>
  <h2>Add Cohort</h2>
  <form action="/cohorts" method="POST">
    <label for="name">Cohort Name</label>
    <input name='name' type='text' id='name'>

    <label for="student_count">Student Count</label>
    <input name='student_count' type='text' id='student_count'>

    <input class='new' type="submit" value="Submit">
  </form>
</section>
