<section class='staff'>
  <h2>Delete Cohort</h2>
  <form action="/staff/{{cohort.id}}?_method=DELETE" method="POST">
    <input class='delete' type="submit" name="name" value="Delete {{cohort.name}}?">
  </form>
</section>
