<section>
  <p>An app for tracking Galvanize staff and their associate cohorts</p>
  <br><br>
  <a class='new' href="/staff">Check out our staff!</a>
  <br><br>
  <a class='new' href="/cohorts">Check out our cohorts!</a>
</section>
