<section class='staff'>
  <h2>Add Staff</h2>
  <form action="/staff" method="POST">
    <label for="first_name">First Name</label>
    <input name='first_name' type='text' id='first_name'>

    <label for="first_name">Last Name</label>
    <input name='last_name' type='text' id='last_name'>

    <input class='new' type="submit" value="Submit">
  </form>
</section>
